apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "microservice-api.serviceAccountName" . }}
  labels:
    {{- include "microservice-api.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "microservice-api.fullname" . }}
  labels:
    {{- include "microservice-api.labels" . | nindent 4 }}
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "microservice-api.fullname" . }}
  labels:
    {{- include "microservice-api.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "microservice-api.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "microservice-api.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
