apiVersion: v1
kind: ServiceAccount
metadata:
  name: microservice-stateful
  namespace: default
  labels:
    app: microservice-stateful

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: microservice-stateful
  namespace: default
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: [""]
  resources: ["persistentvolumes"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["persistentvolumeclaims"]
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: microservice-stateful
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: microservice-stateful
subjects:
- kind: ServiceAccount
  name: microservice-stateful
  namespace: default
